<div class="col-sm-6">
    <h3 class="text-primary">Localidades</h3>
    <div id="mapDiv" class="gmap"></div>
</div>
</div>
<script>
    var lat = {{ items.businesses.0.coordinates.latitude | safe }};
    var lon = {{ items.businesses.0.coordinates.longitude | safe }};

    var map = L.map('mapDiv').setView([lat, lon], 13); //0 até 18

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
        maxZoom: 18,
    }).addTo(map);

    {% for biz in items.businesses %}
        var marker = L.marker([{{ biz.coordinates.latitude | safe}}, {{ biz.coordinates.longitude | safe}}]).addTo(map);

        marker.bindPopup("<b>{{ biz.name }}</b><br/>{{ biz.location.display_address.0 }} {{ biz.location.display_address.1 }}<br/>{{ city }}").openPopup();
    {% endfor %}


</script>